@{ 
  //Layout = "~/Views/Shared/_Layout.cshtml"
}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shelf</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/estilos/principal.css">
    <link rel="stylesheet" href="~/estilos/index.css">
    <script type="text/javascript">
        function abrirCad() {
             document.getElementById('popupEnt').style.display = 'none';
             document.getElementById('popupCad').style.display = 'block';
             document.getElementById('sucesso').style.display = 'none';
        }
        function fecharCad() {
             document.getElementById('popupCad').style.display = 'none';
        }
        function abrirEnt() {
             document.getElementById('sucesso').style.display = 'none';
             document.getElementById('popupCad').style.display = 'none';
             document.getElementById('popupEnt').style.display = 'block';
        }
        function fecharEnt() {
            document.getElementById('popupEnt').style.display = 'none';
        }
        function cadConc() {
            document.getElementById('popupEnt').style.display = 'none';
            document.getElementById('popupCad').style.display = 'none';
            document.getElementById('sucesso').style.display = 'block';
        }       

    </script>
</head>
<body>
    <header>
        <!-- --------------------------------------------------- POPUPS ------------------------------------------------------------------ --
            <form id="popupCad" class="popupCad">
                <fieldset>
                    <legend>Cadastro</legend>
                    <div>
                        <a href="javascript: fecharCad();"> Fechar </a>
                        <input type="text" placeholder="Nome" name="nome"><br>
                        <input type="email" placeholder="E-mail" name="email"><br>
                        <input type="text" placeholder="Nome de Usuário" name="username"><br>
                        <input type="password" placeholder="Senha" name="senha"><br>
                        <input type="password" placeholder="Confirmar senha" name="Confirmar">
                    </div>
                    <!--<input href="javascript: cadConc();" type="submit" value="Concluir"><br>--
                    <a class="popbot" href="javascript: cadConc();">Cadastrar</a>
                    Já possui cadastro?<br>
                    <a href="acesso.html">Entrar</a>
                </fieldset>
            </form>
            <!-- SUCESSO --
            <div class="sucesso" id="sucesso">
                <h1> Parabéns! </h1>

                <p> Seu login foi realizado com sucesso, clique no botão abaixo para realizar login</p>
                <input type="submit" value="Concluir" />
            </div>
            <!-- --------- --
            <form id="popupEnt" class="popupEnt">
                <fieldset>
                    <legend>Entrar</legend>
                    <div>
                        <a href="javascript: fecharEnt();"> Fechar </a>
                        <input type="email" placeholder="E-mail" name="email"><br>
                        <input type="password" placeholder="Senha" name="senha"><br>
                    </div>
                    <input type="submit" value="Entrar"><br>
                    Não possui cadastro?<br>
                    <a href="acesso.html">Cadastre-se</a>
                </fieldset>
            </form>
        <!-- ------------------------------------------------  FIM POPUPS ----------------------------------------------------------------- -->

        <nav class="menuinicio">
            <ul>
                <li><a href="javascript:void(0)" class="icon"><i class="fa fa-book"></i></a> <a href="Home/index.cshtml"><img src="~/icones/logo.png" alt="logo" /></a></li>
                <li class="botao"><a href="Estantes/estantes.cshtml">Lançamentos</a></li>
                <li class="botao"><a href="Estantes/estantes.cshtml">Mais Acessados</a></li>
                <li>
                    <form action="" class="lupa">
                        <input type="search" placeholder="Pesquisar.." name="Pesquisa">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </li>
                <li>
                    <nav class="menu1">
                        <ol>
                            <li><a href="javascript: abrirEnt();">Entrar</a></li> <!-- chamar popups aqui -->
                            <li><a class="button" href="javascript: abrirCad();">Cadastro</a></li>
                        </ol>
                    </nav>
                </li>
            </ul>
        </nav>
        <nav class="menu2">
            <ul>
                <li><a href="@Url.Action(actionName:"Index", controllerName:"Estantes")"> HQ's</a></li>
                <li><a href="@Url.Action(actionName:"Index", controllerName:"Estantes")"> Nacionais</a></li>
                <li><a href="@Url.Action(actionName:"Index", controllerName:"Estantes")"> Ficção</a></li>
                <li><a href="@Url.Action(actionName:"Index", controllerName:"Estantes")"> Romance</a></li>
                <li><a href="@Url.Action(actionName:"Index", controllerName:"Estantes")"> Terror</a></li>
                <li><a href="@Url.Action(actionName:"Index", controllerName:"Estantes")"> Suspense</a></li>
                <li><a href="@Url.Action(actionName:"Index", controllerName:"Estantes")"> Comédia</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section class="texts">
            <h1>
                De clássicos a quadrinhos!
            </h1>
            <h2>
                Espaço para qualquer tipo de obra!
            </h2>
        </section>

        <section class="livrosi">
            <figure>
                <a href="@Url.Action(actionName:"Index", controllerName:"Livros")"><img src="~/icones/agatha.jpg"></a>
                <figcaption><span class="title">A mansão Hollow</span><br>Agatha Christie</figcaption>
            </figure>
            <figure>
                <a href="@Url.Action(actionName:"Index", controllerName:"Livros")"><img src="~/icones/edgarap.jpg"></a>
                <figcaption><span class="title">Os melhores contos</span><br>Edgar Allan Poe</figcaption>
            </figure>
            <figure>
                <a href="@Url.Action(actionName:"Index", controllerName:"Livros")"><img src="~/icones/quincasborba.jpg"></a>
                <figcaption><span class="title">Quincas Borbas</span><br>Machado de Assis</figcaption>
            </figure>
            <figure>
                <a href="@Url.Action(actionName:"Index", controllerName:"Livros")"><img src="~/icones/naruto.jpg"></a>
                <figcaption><span class="title">Naruto</span><br>Masachi Kishimoto</figcaption>
            </figure>
            <figure>
                <a href="@Url.Action(actionName:"Index", controllerName:"Livros")"><img src="~/icones/patinhas.jpg"></a>
                <figcaption><span class="title">O dono de Manhattan</span><br>Carl Barks</figcaption>
            </figure>
            <figure>
                <a href="@Url.Action(actionName:"Index", controllerName:"Livros")"><img src="~/icones/turmadamonica.png"></a>
                <figcaption><span class="title">Turma da Mônica</span><br>Maurício de Souza</figcaption>
            </figure>
        </section>

        <section class="texts2">
            <h1>
                Interatividade!
            </h1>
            <h2>
                Compartilhe suas opiniões sobre obras diversas!
            </h2>
            <div class="cit">
                <p><cite><q>Sempre imaginei que o paraíso fosse uma espécie de biblioteca</q></cite></p>
                <p><b>Luís Borges</b></p>
            </div>
        </section>

    </main>

    <footer>
        <nav class="menufooter">
            <ul>
                <li><a href="#">Mapa do site</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Ajuda</a></li>
            </ul>
        </nav>
        <nav class="redessociais">
            <h1>Siga-nos!</h1>
            <ul>
                <li><a href="facebook.com"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="instagram.com"><i class="fa fa-instagram"></i></a></li>
                <li><a href="twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://github.com/Gabo3900/My-Shelf"><i class="fa fa-github"></i></a></li>
            </ul>
        </nav>
    </footer>

</body>

</html>
