@using MyShelf.Infraestrutura
@{ 
    Layout = null;
    ViewBag.Title = "MyShelf";
}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shelf</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/estilos/principal.css">
    <link rel="stylesheet" href="~/estilos/index.css">
</head>
<body>
    <header>
        <nav class="menuinicio">
            <ul>
                <li><a href="javascript:void(0)" class="icon"><i class="fa fa-book"></i></a> <a href="Home/index.cshtml"><img src="~/icones/logo.png" alt="logo" /></a></li>
                @{
                    if (Html.GetAuthenticatedUser().ToString() != "")
                    {
                        <li class="botao"><a href="#">Lançamentos</a></li>
                        <li class="botao"><a href="@Url.Action("EstantesPorUsuario", "Estantes", new { userName = Html.GetAuthenticatedUser().ToString(), Area = "Models" })">Minhas Estantes</a></li>
                    }
                    else
                    {
                        <li class="botao"><a href="#">Lançamentos</a></li>
                        <li class="botao"><a href="#">Mais Acessados</a></li>
                    }
                }
                <li>
                    <form action="" class="lupa">
                        <input type="search" placeholder="Pesquisar.." name="Pesquisa">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </li>
                <li>
                    
                        @{
                            if (Html.GetAuthenticatedUser().ToString() != "")
                            {
                                <ol>
                                    <li><a href="@Url.Action("Index", "Perfil")"><img src="~/icones/perfil2.png" /></a></li>
                                    <li style="color:white; font-size: 10px; margin-top:2em;">@Html.GetAuthenticatedUser()</li>
                                    <li><a href="@Url.Action("Logout", "Account", new { Area = "Seguranca"})" style="color:white; font-size: 10px;"> SAIR</a></li>
                                </ol>
                            }
                            else
                            {
                                <nav class="menu1">
                                    <ol>
                                        <li><a href="@Url.Action("Login", "Account", new { Area = "Seguranca" }, null)">Entrar</a></li>
                                        <li><a href="@Url.Action("Create", "Admin", new { Area = "Seguranca" }, null)"class="button"> Cadastrar</a></li>
                                    </ol>
                                </nav>
                            }
                        }
                    </nav>
                </li>
            </ul>
        </nav>
        <nav class="menu2">
            <ul>
                <li><a href="@Url.Action("Index", "Estantes", new { id = 1, Area = "Models" })"> HQ's</a></li>
                <li><a href="@Url.Action("Index", "Estantes", new { id = 2, Area = "Models" })"> Ficção</a></li>
                <li><a href="@Url.Action("Index", "Estantes", new { id = 3, Area = "Models" })"> Romance</a></li>
                <li><a href="@Url.Action("Index", "Estantes", new { id = 4, Area = "Models" })"> Terror</a></li>
                <li><a href="@Url.Action("Index", "Estantes", new { id = 5, Area = "Models" })"> Suspense</a></li>
                <li><a href="@Url.Action("Index", "Estantes", new { id = 6, Area = "Models" })"> Outro</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section class="texts">
            <h1>
                De clássicos a quadrinhos!
            </h1>
            <h2>
                Espaço para qualquer tipo de obra!
            </h2>
        </section>

        <section class="livrosi">
            <figure>
                <a href="@Url.Action("Index", "Livros")"><img src="~/icones/agatha.jpg"></a>
                <figcaption><span class="title">A mansão Hollow</span><br>Agatha Christie</figcaption>
            </figure>
            <figure>
                <a href="@Url.Action("Index", "Livros")"><img src="~/icones/edgarap.jpg"></a>
                <figcaption><span class="title">Os melhores contos</span><br>Edgar Allan Poe</figcaption>
            </figure>
            <figure>
                <a href="@Url.Action("Index", "Livros")"><img src="~/icones/quincasborba.jpg"></a>
                <figcaption><span class="title">Quincas Borbas</span><br>Machado de Assis</figcaption>
            </figure>
            <figure>
                <a href="@Url.Action("Index", "Livros")"><img src="~/icones/naruto.jpg"></a>
                <figcaption><span class="title">Naruto</span><br>Masachi Kishimoto</figcaption>
            </figure>
            <figure>
                <a href="@Url.Action("Index", "Livros")"><img src="~/icones/patinhas.jpg"></a>
                <figcaption><span class="title">O dono de Manhattan</span><br>Carl Barks</figcaption>
            </figure>
            <figure>
                <a href="@Url.Action("Index", "Livros")"><img src="~/icones/turmadamonica.png"></a>
                <figcaption><span class="title">Turma da Mônica</span><br>Maurício de Souza</figcaption>
            </figure>
        </section>

        <section class="texts2">
            <h1>
                Interatividade!
            </h1>
            <h2>
                Compartilhe suas opiniões sobre obras diversas!
            </h2>
            <div class="cit">
                <p><cite><q>Sempre imaginei que o paraíso fosse uma espécie de biblioteca</q></cite></p>
                <p><b>Luís Borges</b></p>
            </div>
        </section>

    </main>

    <footer>
        <nav class="menufooter">
            <ul>
                <li><a href="#">Mapa do site</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Ajuda</a></li>
            </ul>
        </nav>
        <nav class="redessociais">
            <h1>Siga-nos!</h1>
            <ul>
                <li><a href="facebook.com"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="instagram.com"><i class="fa fa-instagram"></i></a></li>
                <li><a href="twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://github.com/Gabo3900/My-Shelf"><i class="fa fa-github"></i></a></li>
            </ul>
        </nav>
    </footer>

</body>

</html>
