@using MyShelf.Infraestrutura;
@model Modelo.Models.Estante

@{
    ViewBag.Title = "Detalhes do Livro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="ex-estante">

    <section>
        <h1 class="tit"> @Html.DisplayFor(model => model.Nome) </h1>
        <a href="javascript:void()"><img src="~/icones/denuncia2 8.png" alt="denunciar" class="denuncia"></a>
        @{
            if ((Html.GetAuthenticatedUser().ToString() == Model.UsuarioID) || (Html.GetAuthenticatedUser().ToString() == "Caio221"))
            {
                <a href="@Url.Action("Create", "Livros")"> Adicionar novo livro | </a>
            }
        }

        <form>
            <input type="search" placeholder="Pesquisar.." name="Pesquisa">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

        <div class="estantes">
            @foreach (var x in Model.Livros)
            {
                @Html.DisplayFor(model => x.Nome)
                <a href="@Url.Action("Details", "Livros", new { id = x.LivroID })"> @Html.DisplayFor(model => x.Nome) </a>
            }
        </div>

    </section>

    @{
        if ((Html.GetAuthenticatedUser().ToString() == Model.UsuarioID) || (Html.GetAuthenticatedUser().ToString() == "Caio221"))
        {
          <a href="@Url.Action("Edit", "Estante", new { id = Model.EstanteID })"> Editar estante</a>
          <a href="@Url.Action("Index", "Estante", new { id = Model.CategoriaID })"> Voltar para a lista </a>
        }
        else
        {
            @Html.ActionLink("Retornar a lista", "Index")
        }
    }

</main>
