@using MyShelf.Infraestrutura
@model IEnumerable<Modelo.Models.Estante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="acervo">

    @foreach (var item in Model)
    {
        <section class="estantes">
            <div class="title"> @Html.DisplayFor(modelItem => item.Nome) </div>
            <div>
                <nav>
                    <ul>
                        @{
                            if ((Html.GetAuthenticatedUser().ToString() == item.UsuarioID) || (Html.GetAuthenticatedUser().ToString() == "Caio221"))
                            {
                                <li>@Html.ActionLink("Editar ", "Edit", new { id = item.EstanteID }) |</li>
                                <li>@Html.ActionLink(" Ver mais... ", "Details", new { id = item.EstanteID }) | </li>
                                <li>@Html.ActionLink("  Deletar", "Delete", new { id = item.EstanteID }) </li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Ver mais...", "Details", new { id = item.EstanteID })</li>

                            }
                        }
                    </ul>
                </nav>
            </div>
        </section>
    }
</main>
@{
    if (Html.GetAuthenticatedUser().ToString() != "")
    {
        <p class="formestante-button">
            @Html.ActionLink("Criar novo", "Create")
        </p>
    }
    else
    {
        <p class="formestante-button">
            @Html.ActionLink("Cadastre-se aqui", "Create", "Admin", new { Area = "Seguranca" }) para criar novas estantes
        </p>
    }

}
