@using MyShelf.Infraestrutura
@model Modelo.Models.Livro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- ---------------------------------------------------- -->
    <h1> @Html.DisplayFor(model => model.Nome)</h1>

    <section>
        <img src="~/icones/livro.png" alt="livro"/>
        <ul class="informacoes">
            <!-- <li><a href="perfil.html">Usuário</a></li> -->
            <li>
                @Html.DisplayNameFor(model => model.UsuarioID)
                <br />
                @Html.DisplayFor(model => model.UsuarioID);
            </li>
            <li>
                @Html.DisplayNameFor(model => model.Autor)
                <br />
                @Html.DisplayFor(model => model.Autor)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.AnoLancamento) 
                <br /> 
                @Html.DisplayFor(model => model.AnoLancamento)
            </li>
            <br/>
        </ul>

        <p class="sinopse">
             @Html.DisplayNameFor(model => model.Descricao)
             <br />
             @Html.DisplayFor(model => model.Descricao)
        </p>
    </section>

    <section class="PDF">
        <h1> PDF's / E-books </h1>

        <img src="" alt="">
    </section>

    <section class="comentarios">
        <h1>Comentários</h1>
    </section>
</main><!-- ---------------------------------------------------- -->
@{
    if ((Html.GetAuthenticatedUser().ToString() == Model.UsuarioID) || (Html.GetAuthenticatedUser().ToString() == "Caio221"))
    {
       <p> 
          @Html.ActionLink("Editar", "Edit", new { id = Model.LivroID }) |
          <a href = "@Url.Action("Details", "Estantes", new { id = Model.EstanteID })" > Retornar à estante | </a> 
        </p>
    }
    else
    {
        <a href="@Url.Action("Details", "Estantes", new { id = Model.EstanteID })"> Retornar à estante | </a>
    }
}
