@model MyShelf.Models.Estante

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main  id="acervo">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <section>

            <form>
                <fieldset class="formestante">
                    <legend>Editar Estante</legend>
                    <div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <select id="generoE">
                            <option value="1">Romance</option>
                            <option value="2">Humor</option>
                        </select>
                        <select id="areaE">
                            <option value="1">Pessoal</option>
                            <option value="2">Trabalho</option>
                            <option value="2">Academico</option>
                        </select>
                        <select id="ispublicE">
                            <option value="1">Pública</option>
                            <option value="2">Privada</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </fieldset>
            </form>




        </section>

    
        }
    <div>
        @Html.ActionLink("Voltar para a lista", "Index")
    </div>
</main>
