@model IEnumerable<MyShelf.Models.Estante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="acervo">

        @foreach (var item in Model)
        {
            <section class="estantes">
              <div class="title">@Html.DisplayFor(modelItem => item.Nome)</div>
          
              <div class="acoes">
                <p>@Html.ActionLink("Editar", "Edit", new { id = item.EstanteID }) | </p>
                <p>@Html.ActionLink("Ver mais...", "Details", new { id = item.EstanteID }) | </p>
                <p>@Html.ActionLink("Deletar", "Delete", new { id = item.EstanteID }) | </p>
              </div>
            </section>
        }

        <p class="botao-create">
            @Html.ActionLink("Criar novo", "Create")
        </p>
        <p class="botao-create">
            <a href="@Url.Action(actionName:"Create", controllerName:"Livros")"> Criar Livro</a>
        </p>
</main>